@import 'bootstrap/dist/css/bootstrap.min.css';



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 

}

body{
    display: flex;
    justify-content: center;
}

.app-page{
    width: 400px !important;
    height: 100vh;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    overflow: hidden;
}

.app-page .navbar-main{
    border-bottom: 1px solid #000;
    font-weight: bold;
    display: flex;
    justify-content: center;
}